#======================================
# Directories
#--------------------------------------
coverage/
build/
node_modules/
target/
tmp/
docs/


#======================================
# Extensions
#--------------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml


#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db


#======================================
# ETC
#--------------------------------------
npm-debug.log
.eslintrc.yml
